.banner{
  color: green;
  align: center middle;
  text-align: center;
}

.dir{
  color: yellow;
}

.typing-indicator {
  color: $warning;
  text-style: italic;
  height: auto;
  margin: 1 0;
}

#message_input {
  border: none !important;
  background: transparent !important;
  outline: none !important;
  height: 4;
}
