Banner {
  color: green;
  align: center middle;
  text-align: center; 
}

MarkdownH1 {
    color: green;
}

MarkdownH2 {
    color: green;
}

MarkdownH3 {
    color: green;
}

MarkdownH4 {
    color: green;
}

MarkdownH5 {
    color: green;
}

MarkdownH6 {
    color: green;
}

Markdown > Table > TableHeader {
    color: green;
}

Markdown > Table > TableRow > TableCell {
    color: green;
}


