.main-container {
    align: center middle;
    width: 100%;
    height: 100%;
    background: transparent;
}

Banner {
  text-align: center;
  color: green;
  text-style: bold;
  width: 100%;
  margin-bottom: 2;
}

.buttons-container {
  align: center middle;
  width: 100%;
  height: auto;
  background: transparent;
}

.menu-list {
  background: transparent;
  border: none;
  width: auto;
  height: auto;
  min-width: 35;
  align: center middle;
}

.menu-button {
  background: transparent;
  border: none;
  height: 3;
  width: 100%;
  margin: 1 0;
  padding: 0;
}

.menu-item {
  color: #ffffff;
  text-align: left;
  width: 100%;
  padding-left: 2;
  content-align: left middle;
}

.menu-button.active .menu-item {
  color: #00ff00;
}

.menu-button:hover .menu-item {
  color: #cccccc;
}

.menu-list > .list-view--scrollbar {
  display: none;
}

ListView:focus {
  border: none;
  background: transparent;
}
